.add{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    
}
h1{
    color:#123E6D;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    padding: 15px;
    margin: 15px;
    font-size: 30px;
    position: static;
}

h2{
    color:#123E6D;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    padding: 15px;
    margin: 15px;
}

.home-container{
   margin-top: 50px;
   margin-bottom: 50px;

}

.piguLog{

    display:block;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left:auto;
    margin-right:auto;
}

.piguRegister{
    display:block;
    background: red;
    margin-left:auto;
    margin-right:auto;
}

.register{
   margin-top: 20%;
   padding: 10%;
   background:red;
}
.profile{
    color:#123E6D;
    font-size: 30px;
    text-align: center;

}
.carousel-control{
    opacity: .1 !important;
  }
