.add{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    
}

h1{
    color:#123E6D;
    font-size: 30px;
    position: static;
    
}

.piguLog{

    display:block;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left:auto;
    margin-right:auto;
}

.register{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left:auto;
    margin-right:auto;
}

.profile{
    color:#123E6D;
    font-size: 30px;
    text-align: center;

}