nav.navbar.navbar-default {
  margin-bottom: 0;
  position: fixed;
}


.sttng{
  
    background:#5CD9EA;
    font-size: 13px;
    font-family: 'Quicksand', sans-serif;
    color:white;
    border: 1px solid #5CD9EA;
    border-radius: 5px;
    padding:10,5,10,5;
    margin-top:10px;
    margin-left:5px;
    

  
}